@import "../../modules/_base.scss";
/*Footer menu*/
.f-menu{
    @extend .g-clearlist;
    font-size:0;
    text-align:center;
    line-height:1;
}

.f-menu__item{
    display:block;
    @include font-size(14px);
    margin:0  0 12px;

    @include media($small){
        display:inline-block;
        margin:0 10px 12px;
    }

    @include media($tablet){
        margin:0 25px 12px;
    }
}

.f-menu__link{
    display:inline-block;
    padding:2px 0 6px;
    border-bottom:2px solid #2c2d2f;
    box-sizing:border-box;
    color:#fff !important;
    font-family:$font-alt;
    text-decoration:none;
    text-transform:uppercase;

    &:hover,
    &:active{
        color:$primary !important;
        text-decoration:none !important;
    }

    &.current{
        color:$primary !important;
        border-bottom-color:$primary;
        cursor:default;
    }
}

/*Other footer menu colors*/
.f-menu{
    &.color1{
        .f-menu__link{
            &:hover,
            &:active{
                color:$color1 !important;
                text-decoration:none !important;
            }

            &.current{
                color:$color1 !important;
                border-bottom-color:$color1;
            }
        }
    }
    &.color2{
        .f-menu__link{
            &:hover,
            &:active{
                color:$color2 !important;
                text-decoration:none !important;
            }

            &.current{
                color:$color2 !important;
                border-bottom-color:$color2;
            }
        }
    }
    &.color3{
        .f-menu__link{
            &:hover,
            &:active{
                color:$color3 !important;
                text-decoration:none !important;
            }

            &.current{
                color:$color3 !important;
                border-bottom-color:$color3;
            }
        }
    }
    &.color4{
        .f-menu__link{
            &:hover,
            &:active{
                color:$color4 !important;
                text-decoration:none !important;
            }

            &.current{
                color:$color4 !important;
                border-bottom-color:$color4;
            }
        }
    }
}

