@import "../../modules/_base.scss";
/*Mobile Menu*/
.page__panel{
    position:fixed;
    width:256px;
    height:100%;
    top:0;
    left:-256px;
    z-index:3200;//поверх оверлея
    overflow-x:hidden;
    overflow-y:auto;
    will-change:left;
    @include transition(left .3s ease);
    @include linear-gradient(to bottom, #fff, #f5f5f5);
    border-right:1px solid $border-color;
    box-shadow:0 4px 8px rgba(#000, .8);
    box-sizing:border-box;

    @include media($desktop){
        display:none;
    }

    &.active{
        left:0;
    }
}


.m-menu{
    @extend .g-clearlist;
}
.m-menu__link{
    display:block;
    padding:10px 5px 10px 10px;
    border-top:1px solid $border-color;
    border-bottom:1px solid $title-color;
    font-size:rem(14);
    line-height:1.3;
    color:$title-color;
    text-decoration:none;
    text-transform:uppercase;
    font-weight:600;
    position:relative;

    &:hover,
    &:active{
        color:$primary;
    }

    &.active{
        background:#f5f5f5;
        color:$primary;
    }

    &.current{
        background:$primary;
        color:#fff;
    }
}

.has-menu .m-menu__link{
    padding-right:20px;

    &:after{
        content:'\e900';
        font-family:'icomoon';
        position:absolute;
        right:6px;
        @include transition(transform .3s ease);
    }

    &.active{
        &:after{
            @include transform(rotate(180deg));
        }
    }
}

.m-menu__label{
    display:block;
    height:$header-height-sm;
    line-height:$header-height-sm;
    padding:0 30px 0 12px;
    border-bottom:1px solid $title-color;
    font-size:rem(18px);
    color:$title-color;
    font-weight:600;
    text-transform:uppercase;
    box-sizing:border-box;
    cursor:pointer;
    outline:0;

    &:after{
        content:'\e908';
        font-family:'icomoon';
        position:absolute;
        right:12px;
    }
}

/*Mobile submenu*/
.m-submenu{
    @extend .g-clearlist;
    display:none;
}

.m-submenu__link{
    display:block;
    padding:10px 5px 10px 30px;
    border-top:1px solid $border-color;
    border-bottom:1px solid $title-color;
    font-size:rem(14px);
    line-height:1.3;
    color:$text-color;
    text-decoration:none;

    &:hover,
    &:active{
        color:$primary;
    }

    &.current{
        background:$primary;
        color:#fff;
    }
}
