@import "../../modules/_base.scss";
/*Page menu*/
.page__menu{
    @extend .g-container;
}
.p-menu{
    display:none;
    list-style-type:none;
    padding:0;
    margin:0 0 $project-line-height/2;
    font-size:0;
    line-height:1;
}

.p-menu__item{
    display:block;
    @include font-size(14px);
    border-bottom:1px solid $border-color;
    position:relative;
}

.p-menu__link{
    @extend .menu__link;
    display:block;
    padding:10px 0;

    &.current{
        border-bottom-color:#fff;
    }
}

.p-menu__button{//кнопка вызова меню для мобильных
    display:block;
    width:100%;
    height:36px;
    margin:$project-line-height/2 0;
    padding:0 10px;
    line-height:36px;
    color:$title-color;
    font-weight:600;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    text-transform:uppercase;
    background:#f9f9f9;
    border:none;
    outline:0;
    text-align:left;
    cursor:pointer;

    [class^="icomoon-"], [class*=" icomoon-"]{
        margin-right:10px;
        font-size:22px;
    }

    &.active{
        color:$primary;
    }
}

/*Page submenu*/
.p-submenu{
    display:none;
    @extend .g-clearlist;
    background:#fff;
}

.p-submenu__item{
    display:block;
    padding:0 10px;
    border-top:1px solid $border-color;
}

.p-submenu__link{
    @extend .submenu__link;
    line-height:1.2;
    padding:10px 10px 10px 20px;
    position:relative;
}


@include media($desktop){
    .p-menu{
        display:block;
        margin-top:17px;
    }

    .p-menu__item{
        display:inline-block;
        margin-right:30px;
        margin-bottom:5px;
        border-bottom:none;
        vertical-align:top;

        &:last-child{
            margin-right:0;
        }
    }

    .p-menu__link{
        padding:0 0 6px;
        &.current{
            border-bottom-color:$primary;
        }
    }

    .p-menu__button{
        display:none;
    }

    .p-submenu{
        padding:10px 0;
        position:absolute;
        min-width:200px;
        top:100%;
        left:-10px;
        z-index:100;
        box-shadow:-3px 3px 6px -2px rgba(#000, .2), 1px 1px 2px -1px rgba(#000, .1);
    }

    .p-submenu__item{
        border:none;
    }

    .p-submenu__link{
        padding:10px 0;
    }
}



.no-js{
    .p-menu__button{
        display:none;
    }
    .p-menu{
        display:block;
    }

    .p-submenu{
        display:block;
        @include media($desktop){
            display:none;
        }
    }

    .p-menu__item{
        &:hover{
            & > .p-submenu{
                display:block;
            }
        }
    }
}


/*Page menu - other colors*/
.p-menu{
    &.color1{
        .p-menu__link,
        .p-submenu__link{
            &:hover,
            &:active,
            &.hover{
                color:$color1;
            }

            &.current{
                color:$color1;
                border-bottom-color:$color1;
            }
        }
    }
    &.color2{
        .p-menu__link,
        .p-submenu__link{
            &:hover,
            &:active,
            &.hover{
                color:$color2;
            }

            &.current{
                color:$color2;
                border-bottom-color:$color2;
            }
        }
    }
    &.color3{
        .p-menu__link,
        .p-submenu__link{
            &:hover,
            &:active,
            &.hover{
                color:$color3;
            }

            &.current{
                color:$color3;
                border-bottom-color:$color3;
            }
        }
    }
    &.color4{
        .p-menu__link,
        .p-submenu__link{
            &:hover,
            &:active,
            &.hover{
                color:$color4;
            }

            &.current{
                color:$color4;
                border-bottom-color:$color4;
            }
        }
    }
}