@import "../../modules/_base.scss";
/*Breadcrumbs*/
.breadcrumbs{
    padding:0;
    margin:-8px 0 0;
    @include font-size(12px);
    line-height:1.1;
    list-style-type:none;
    color:$text-color;
    font-family:$font-alt;
}
.breadcrumbs__item{
    display:inline-block;
    position:relative;

    &:after{
        content:'/';
        margin:0 5px;
    }

    &:last-child{
        &:after{
            display:none;
        }
    }
}
.breadcrumbs__link{
    color:$text-color;
    text-decoration:none;

    &:hover,
    &:active{
        color:$primary;
        text-decoration:underline;
    }
}