@import "../../modules/_base.scss";
/*Page Slider*/
.b-slider{
    height:126px;
    background:#f5f5f5;
    position:relative;

    .bx-wrapper,
    .bx-viewport{
        height:100% !important;
    }

    .bx-wrapper{
        .bx-controls-direction a{
            @include transition(opacity .3s);
            opacity:0;
            color:$title-color;
        }

        &:hover,
        &:active{
            .bx-controls-direction a{
                opacity:1;
            }
        }
    }

    .g-btn{
        margin-bottom:0;
    }

    &:before,
    &:after{//тени по бокам
        content:"";
        position:absolute;
        z-index:-2;
        bottom:5px;
        width:50%;
        height:30%;
        max-width:70px;
        @include transform-origin(0 100%);
    }
    &:before{
        left:70px;
        box-shadow:-70px 0 7px rgba(0, 0, 0, 0.14);
        @include transform(skew(50deg));
        
    }

    &:after{
        right:70px;
        box-shadow:70px 0 7px rgba(0, 0, 0, 0.14);
        @include transform(skew(-50deg));
    }
}

.b-slider__wrap,
.b-slider__inner,
.b-slider__img{
    position:absolute;
    top:0; left:0; right:0; bottom:0;
}

.b-slider__inner{//скроем все "лишнее" на время загрузки скриптов
    overflow:hidden;
}

.b-slider__wrap{
    &:before{//нижняя тень
        content:"";
        position:absolute;
        z-index:-2;
        top:50%;
        bottom:0;
        left:10px;
        right:10px;
        box-shadow:0 0 10px rgba(0,0,0,0.5);
        border-radius:200px / 10px;
    }
}

.b-slider__list{
    @extend .g-clearlist;
    height:100%;
}
.b-slider__item{
    height:100%;
}
.b-slider__link{
    display:block;
    height:100%;
    text-decoration:none;
    color:$title-color;
    position:relative;
    @extend .g-clearfix;
}

.b-slider__img{
    z-index:1;
    background-position:right center;
    background-repeat:no-repeat;
}
.b-slider__content{
    float:left;
    padding:10px 30px;
    position:relative;
    z-index:2;

    p{
        line-height:1.3;
    }
}

.csstransforms{
    .b-slider__content{
        @extend .g-valign;
    }
}

.b-slider__title{
    display:block;
    margin-bottom:25px;
    line-height:1.1;
    text-transform:uppercase;
    font-size:rem(18px);
    background:#f5f5f5;

    @include media($tablet){
        font-size:rem(22px);
    }
    @include media($desktop){
        @include font-size(26px);
        background:none;
    }
}
