@import "../../modules/_base.scss";
/*Cart Table*/
.cart-table{
    @extend .g-full-width;
    th{
        padding:$project-line-height 5px;
        @include font-size(12px);
    }

    td{
        padding:$project-line-height/2 5px;
    }
    th, td{

        &:first-child{
            padding-left:0;
        }

        &:last-child{
            padding-right:0;
        }
    }

    th,
    tbody td{
        border-bottom:1px solid $border-color;
    }

    tbody td{
        &:first-child{
            width:10px;
        }

        &:nth-child(2){
            width:50px;
        }
    }
}
.cart-table__img{
    max-width:50px;
    height:auto;
}

.cart-table__num{
    @include font-size(24px);
    font-weight:600;
    color:$title-color;
}
.cart-table__title{
    color:$title-color;
    text-transform:uppercase;
    text-decoration:none;
    font-weight:600;

    &:hover,
    &:active{
        color:$primary;
    }
}

.cart-table__id{
    strong, b{
        font-weight:400;
        color:$title-color;
        text-shadow:0 0 .1px rgba($title-color, .3);
    }
}

.cart-table__title,
.cart-table__id{
    display:none;

    @include media($tablet){
        display:block;
    }
}

.cart-table__price{
    @include font-size(18px);
    color:$title-color;
    font-weight:600;
}

.cart-table__count{
    width:130px;
    margin:0 auto;

    .g-input{
        margin:0;
        text-align:center;
    }
}

.cart-table__btn{
    @extend .g-clearbutton;
    width:36px;
    height:36px;
    line-height:36px;
    @include font-size(24px);
    color:$color1;

    &:hover,
    &:active{
        color:$primary;
    }

}

