@import "../../modules/_base.scss";
/*Catalog grid*/
.b-catalog{
    @extend .page__section;
    @extend .page__section--compact;
}

.b-catalog__side,
.b-catalog__main{
    @extend .g-column;
}

@include media($tablet){
    .b-catalog__side{
        width:(100%-$grid-gutter*2)/3;
    }

    .b-catalog__main{
        width: 2*(100%-$grid-gutter*2)/3 + $grid-gutter;
        margin-left:$grid-gutter;
    }
}

/*Catalog filter*/
.b-filter{
    
}

.b-filter__toggle{
    @extend .g-clearbutton;
    padding:0 0 3px 0;
    color:$title-color;
    margin-bottom:14px;
    border-bottom:1px dashed $title-color;

    &.active{
        color:$primary;
        border-color:$primary;
    }

    @include media($desktop){
        display:none;
    }
}

.no-js .b-filter__toggle{
    display:none;
}

.b-filter__list{
    list-style-type:none;
    padding:0;

    li{
        display:block;
        @include font-size(14px);
        line-height:1.71428;
    }

    & > li > a{
        color:$title-color;
        text-shadow:0 0 .1px rgba($title-color, .5);
    }

    a{
        text-decoration:none;

        &:hover,
        &:active,
        &.current{
            color:$primary;
        }

        &.current{
            cursor:default;
        }
    }

    ul{
        list-style-type:none;
        margin:0;
        padding:0 0 0 15px;

        a{
            color:$text-color;
        }
    }
}

.b-filter__scroll{
    margin-bottom:$project-line-height;
    position:relative;
    height:100%;


    .b-filter__list{
        margin-bottom:0;
    }
}

@include media($tablet){
    .js .b-filter__scroll{
        max-height:324px;
    }
}