@import "../../modules/_modal.scss";
/*Catalog tags*/
.b-tags{
    @extend .g-clearlist;
    padding-top:5px;
    font-size:0;
}

.b-tags__item{
    display:block;
    line-height:1;
    margin-bottom:$project-line-height;
    @include font-size(16px);
}


.b-tags__link{
    @extend .g-btn;
    padding:0 10px;
    min-width:130px;
    margin-bottom:0;

    &.current{
        box-shadow:0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

@include media($tablet){
    .b-tags{
        text-align:center;
    }
    .b-tags__item{
        display:inline-block;
        margin-left:20px;
        margin-right:20px;
    }
}




