@import "../../modules/_base.scss";
/*Product List*/

.product-list{
    list-style-type:none;
    padding:0;
    @extend .g-clearfix;

    .b-product{
        margin-bottom:28px;
    }
}

.product-list__item{
    @extend .g-column;
    @include span-columns(6);
    @include omega(2n);

    @include media($mobile){
        @include omega-reset(2n);
        @include span-columns(4);
        @include omega(3n);
    }

    @include media($desktop){
        @include omega-reset(3n);
        @include span-columns(3);
        @include omega(4n);
    }
}

.product-list--full{
    .b-product{
        margin-bottom:$project-line-height;
    }

    .product-list__item{
        @include media($tablet){
            @include omega-reset(3n);
            @include span-columns(3);
            @include omega(4n);
        }

        @include media($desktop){
            @include omega-reset(4n);
            @include span-columns(2);
            @include omega(6n);
        }
    }
}


//на странице Каталога - максимум 3 в ряд + увеличим размер
.b-catalog__main{
    .product-list__item{
        @include span-columns(12);

        @include media($mobile){
            @include omega-reset(3n);
            @include span-columns(6);
            @include omega(2n);
        }

        @include media($tablet){
            @include omega-reset(2n);
            @include span-columns(4);
            @include omega(3n);
        }
    }

    .b-product{
        max-width:240px;
    }
    .b-product__thumb{
        max-width:170px;
        margin-left:auto;
        margin-right:auto;
    }
}

