@import "../../modules/_base.scss";
/*Product Block*/
.b-product{
    max-width:150px;
    padding:8px;
    margin:0 auto $project-line-height;
    box-sizing:border-box;
    background:#fff;
    border:1px solid $border-color;
    @extend .g-shadow-hover;
}

.b-product__thumb{
    display:block;
    margin-bottom:4px;
    position:relative;
    text-decoration:none;

    &:after{
        content:'';
        display:block;
        padding-top:100%;
    }
}

.b-product__img{
    @extend .g-img-centered;
}

.b-product__inner{
    height:90px;
    line-height:1.1;
    position:relative;
    overflow:hidden;

    &:after{
        content:'';
        display:block;
        position:absolute;
        left:0; bottom:0;
        width:100%;
        height:18px;
        @include linear-gradient(to bottom, rgba(#fff, .2), #fff);
        z-index:1;
    }
}

.b-product__title{
    display:block;
    color:$primary;
    text-decoration:none;
}

.b-product__price{
    display:block;
    margin-bottom:15px;
    @include font-size(18px);
    color:$title-color;
    font-weight:600;
}

.b-product__curr{
    @include font-size(14px);
    color:$text-color;
    font-weight:400;
}

.b-product__btn{
    @extend .g-btn;
    width:100%;
    margin:0;

    &:hover,
    &:active,
    &:focus{
        box-shadow:inset 3px 3px 30px rgba(#000, .3);
    }
}

//вариант с акционной ценой
.b-product__price--new{
    position:relative;
    color:$color1;
}
.b-product__price--old{
    display:inline-block;
    background:#fff;
    color:$text-color;
    position:absolute;
    left:0;
    top:-16px;
    line-height:1;
    z-index:2; //поверх заливки

    &:before{
        content:'';
        position:absolute;
        top:50%;
        left:0;
        right:0;
        border-top:1px solid #000;
        @include transform(rotate(-12deg));
    }

}