@import "../modules/base";

@import "footer/_subscribe.scss";
@import "footer/_social-links.scss";

/*Site Footer*/
.b-footer{
    width:100%;
    background:#2c2d2f;
}
.b-footer__main{
    padding:22px 0;
    color:#959595;
    text-align:center;
    @include font-size(14px);
    line-height:strip-units($project-line-height/$project-font-size);
    box-sizing:border-box;

    a{
        color:inherit;
        text-decoration:none;

        &:hover,
        &:active{
            color:#fff;
            text-decoration:underline;
        }
    }

    .g-container{
        position:relative;
    }
}

.b-footer__copyright{
    color:#646464;
}

@include media($desktop){//прибьем футер к низу страницы
    .page{
        padding-bottom:$footer-height + 36px;
    }
    .b-footer{
        position:absolute;
        height:$footer-height;
        left:0;
        bottom:0;
    }

    .b-footer__main{
        height:152px;
        overflow:hidden;
    }

    .b-footer--has-menu{
        height:$footer-height + 36px;

        .b-footer__main{
            height:188px;
        }
    }
}