@import "base";
/* Forms */

/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
    @include appearance(none);
}

.g-input,
.g-select,
.g-textarea{
    display:inline-block;
    vertical-align:middle;
    width:100%;
    margin-bottom:30px;
    padding:6px 10px;
    background-color: #fff;
    border: 1px solid $border-color;
    border-radius:0;
    color:$title-color;
    box-shadow: none;
    box-sizing: border-box;

    @include placeholder{
        color:#888888;
        text-overflow:ellipsis;
    }

    &:hover,
    &:focus{
        border-color:$primary;
        outline:0;
    }

    &:focus{
        box-shadow:inset 0 0 4px rgba($primary, .6);
    }

    &:disabled{
        border-color:$border-color;
        box-shadow:inset 0 0 4px rgba($border-color, .8);
    }

    
}

.g-input,
.g-select{
    @include px2rem(height, 36px);
}

.g-textarea{
    @include px2rem(min-height, $project-line-height*5);
}

.g-label{
    display: block;
    margin-bottom:15px;
    font-weight:600;

    &.error{
        color:red;
    }
}
.g-label__body{
    display: inline-block;
    @include px2rem(margin-left, $project-line-height/3);
    font-weight: normal;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline; }



//валидация полей
.g-validate{
    .g-input,
    .g-select,
    .g-textarea{
        &.error{//классы для jquery validate
            border-color:red;
            box-shadow:inset 0 0 4px rgba(red, .8);

            @include placeholder{
                color:red;
            }
        }

        &.valid{
            border-color:$color4;
            box-shadow:inset 0 0 4px rgba($color4, .8);
        }
    }
}
.g-validate__inner{//обертка для отображения сообщений валидации jquery validate
    position:relative;
    line-height:1;


    label.error{//сообщение об ошибке - покажет jquery validate
        display:inline-block;
        min-width:20px;
        max-width:240px;
        padding:10px;
        background:#fcebe7;
        color:red;
        @include font-size(13px);
        line-height:1.1;
        position:absolute;
        bottom:100%; right:0;
        margin-bottom:12px;
        z-index:5;

        &:after{
            content:'';
            @include triangle(16px, #fcebe7, down);
            position:absolute;
            right:10px;
            bottom:-8px;
        }     
    }
}

.g-validate__inner--has-icon{
    &:before,
    &:after{//иконки статуса valid - error
        display:none;
        @include font-size(36px);
        font-family:'icomoon';
        position:absolute;
        right:0; top:0;
    }

    &:before{
        content:'\e90d';//valid
        color:$color4;
    }

    &:after{
        content: "\e905";
        color:red; //error
    }
}

@include media($desktop){
    .g-validate__inner--has-icon{
        padding-right:70px;

        label.error{
            right:70px;
        }
    }


    .g-novalidate{ //обертка для полей, которые не требуют валидации - нужна для того чтобы был одинаковый отступ справа
        padding-right:70px; 
    }

    .g-validate.valid{
        .g-validate__inner--has-icon{
            &:before{
                display:block;
            }
        }
    }

    .g-validate.error{
        .g-validate__inner--has-icon{
            &:after{
                display:block;
            }
        }
    }
}