@import "base";
/*Global*/
html,
button,
input,
select,
textarea {
    color: $text-color;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

img{
    max-width: 100%;
    height: auto;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

/* Base Styles */
html{
    height:100%;
    line-height: 1;
}

.page{//body style
    min-height:100%;
    line-height: 1;
    //font-family: $font-sans, Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
    font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
    box-sizing:border-box;
    position:relative;
}

/* Typography*/
.page__content{
    @include font-size($project-font-size);
    line-height:strip-units($project-line-height/$project-font-size);
}

.page__section{
    padding:15px 0;
}

.page__section--compact{
    padding-top:9px;
}


h1, h2, h3, h4, h5, h6, .g-title, .g-subtitle{
  margin-top: 0;
  margin-bottom:15px;
  line-height:1.1;
  color:$title-color;
  //font-family:$font-serif, serif;
  //font-weight:400;
  font-weight:600;
}
.g-title,
.g-subtitle{
    display:block;
}

.g-title, h1{
    @include font-size(24px);
}

.g-subtitle, h2{
    @include font-size(21px);
    margin-bottom:$project-line-height;
}

.g-subtitle--alt{
    margin-bottom:20px;
    @include font-size(14px);
    font-weight:400;
    text-transform:uppercase;
}

.g-brand-color{
    color:$primary;
}

/* Links */
a {
  color: $primary; }


/* Lists */
ul {
    list-style: disc outside; }
ol {
    list-style: decimal outside; }
ol, ul {
    margin-top: 0; }

ul ul,
ul ol,
ol ol,
ol ul {
    @include px2rem(margin, $project-line-height/2 0 $project-line-height/2 30px);
}

.g-description-list{
    padding:0;
    margin:$project-line-height 0;
    @extend .g-clearfix;


    dt, dd{
        float:left;
        margin-bottom:$project-line-height;
    }

    dt{
        margin-right:15px;
        clear:both;
        color:$title-color;
        text-shadow:0 0 .1px rgba($title-color, .3);
    }
    dd{
        margin-left:0;
    }
}

.g-clearlist{
    list-style-type:none;
    margin:0;
    padding:0;
}

/* Blockquote */
blockquote{
    font-size:120%;
    line-height:1.6;
    font-style: italic;
    @include px2rem(padding, 0 0 0 30px);
    border-left:2px solid $primary;
}
cite{
    display:block;
    font-size:75%;
}

/* Code */
code {
    padding:2px 5px;
    margin:0 2px;
    font-size: 90%;
    white-space: nowrap;
    background: #F1F1F1;
    border: 1px solid $border-color;
    border-radius:$border-radius;
}
pre > code {
  display: block;
  padding:10px 15px;
  white-space: pre;
}


/* Spacing */
p {
  margin-top: 0; }


pre,
blockquote,
dl,
figure,
fieldset,
table,
p,
ul,
ol{
    @include px2rem(margin-bottom, $project-line-height);
}

/* Misc */
hr {
    @include px2rem(margin, $project-line-height 0);
    border-width: 0;
    border-top: 1px solid $border-color;
}

.g-spacer{
    display:block;
    @extend .g-clearfix;
    height:2*$project-line-height;
}


/* Transitions */
a, button, input[type="button"], input[type="submit"],
#{$all-text-inputs}, select{
    @include transition-property(border-color,color,background-color);
    @include transition-duration(.15s);
    @include transition-timing-function(ease-in);
}


/*Helper classes*/
.g-hidden {
    display: none !important;
    visibility: hidden;
}

.g-visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.g-invisible {
    visibility: hidden;
}

.g-clearfix{
    @include clearfix; //bourbon clearfix
}
.lt-ie9{
    .g-clearfix{
        @include clear-fix();
    }
}