@import "../bower_components/neat/app/assets/stylesheets/neat-helpers";

$max-width: 960px;
$mobile: new-breakpoint(min-width 480px);
$small: new-breakpoint(min-width 640px);
$tablet: new-breakpoint(min-width 768px);
$desktop: new-breakpoint(min-width 992px);
$large: new-breakpoint(min-width 1200px);

$column: golden-ratio(1em, 3) !default;
$gutter: golden-ratio(1em, 3) !default;
$fg-column: $column;
$fg-gutter: $gutter;

$border-box-sizing: false;

@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}