@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?eqw9jk');
    src:    url('../fonts/icomoon.eot?eqw9jk#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?eqw9jk') format('truetype'),
        url('../fonts/icomoon.woff?eqw9jk') format('woff'),
        url('../fonts/icomoon.svg?eqw9jk#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icomoon-"], [class*=" icomoon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align:middle;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icomoon-facebook:before {
    content: "\e917";
}
.icomoon-instagram:before {
    content: "\e918";
}
.icomoon-vk:before {
    content: "\e919";
}
.icomoon-lazer-alt:before {
    content: "\e916";
}
.icomoon-filter:before {
    content: "\e915";
}
.icomoon-phone:before {
    content: "\e913";
}
.icomoon-download:before {
    content: "\e914";
}
.icomoon-menu:before {
    content: "\e901";
}
.icomoon-dropdown:before {
    content: "\e900";
}
.icomoon-arrow-left:before {
    content: "\e902";
}
.icomoon-arrow-right:before {
    content: "\e903";
}
.icomoon-book:before {
    content: "\e904";
}
.icomoon-close:before {
    content: "\e905";
}
.icomoon-cmyk:before {
    content: "\e906";
}
.icomoon-copyright:before {
    content: "\e907";
}
.icomoon-cross:before {
    content: "\e908";
}
.icomoon-down:before {
    content: "\e909";
}
.icomoon-lazer:before {
    content: "\e90a";
}
.icomoon-learning:before {
    content: "\e90b";
}
.icomoon-left:before {
    content: "\e90c";
}
.icomoon-ok:before {
    content: "\e90d";
}
.icomoon-right:before {
    content: "\e90e";
}
.icomoon-search:before {
    content: "\e90f";
}
.icomoon-shop:before {
    content: "\e910";
}
.icomoon-stamp:before {
    content: "\e911";
}
.icomoon-up:before {
    content: "\e912";
}
